body {
    background: #263238;
    height: 100vh;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1410px;
    padding: 0 5px;
    margin: 0 auto;
}



/********************************* Header ********************************/

.header {
    margin: 60px 150px 0 150px;
    position: relative;
    top: 6px;
}

.haeder__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo {
    width: 320px;
    height: 43px;
}

.logo a {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;

    text-decoration: none;
    z-index: 9;
    position: relative;
    cursor: pointer;
}

.logo-bg-1 {
    position: relative;
    bottom: 109px;
    right: 155px;
    color: #23B123;

}

.logo-bg-2 {
    position: relative;
    top: -492px;
    right: 150px;

}



.menu__list {
    display: flex;
    gap: 44px;
}

.menu__list-item {
    list-style: none;

}

.menu__list-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;

    transition: all .3s;
}

.menu__list-link:hover {
    color: #23B123;
}

.header__btn {
    display: flex;
    gap: 16px;
}

.header__btn-sign {
    transition: all .3s;
}

.header__btn-link {
    font-family: 'Lato';
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 21px 44px;


}

.header__btn-link:hover {
    color: #23B123;
    border: 1px solid #23B123;
}


.header__btn-sign:hover {
    transform: scale(1.01);
}




.header__btn-start a {
    font-family: 'Lato';
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 21px 25px;
    background: #23B123;
    border-radius: 10px;
    border: 1px solid #23B123;

    transition: all .3s;
}

.header__btn-start a:hover {
    background: transparent;
    color: #23B123;
}



/********************************* Agriculture ********************************/




/************  Right-side BG-item ************/

.right-side {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    left: -497px;
    top: 50px;
}

.right-white {
    position: relative;
    top: 292px;
    left: 180px;
}

.right-n {
    position: relative;
    left: 376px;
    top: 249px;
}

.right-star {
    position: relative;
    top: 662px;
    left: 118px;
}


/************  Left-side BG-item ************/

.left-side {
    position: relative;
    top: -200px;
    left: 214px;
    width: 100px;
}

.left-white {
    position: relative;
    left: 309px;
    top: 165px;
}



.left-money {
    position: relative;
    top: 94px;
    left: -67px;
}

.left-star {
    position: relative;
    top: -192px;
    left: 98px;
}



/****************  Culture *******************/

.culture {
    margin-top: 144px;
}

.culture__invest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.culture__invest-cont {}

.culture__invest-title {
    text-align: center;
    margin-bottom: 70px;
}

.culture__invest-title h2 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;


    color: #FFFFFF;
}

.culture__invest-title h2 span {
    color: #23B123;
}

.desc {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;

    color: #FFFFFF;
}

.email {
    margin-top: 48px;
}

.email__box {
    justify-content: center;
    display: flex;
    align-items: center;
}

.email__box input {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #263238;

    padding: 28px 267px 28px 25px;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 10px;
}


.email__btn {
    margin-left: -170px;
}

.email__btn a {
    font-family: 'Spartan';
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 22px 25px;
    background: #23B123;
    border-radius: 10px;
    border: 1px solid #23B123;

    transition: all .3s;
}

.email__btn a:hover {
    background: transparent;
    color: #263238;
    border: 1px solid #263238
}



.sponsor {
    margin: 208px 0 195px 0;
}

.sponsor__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 108px;
}

.sponsor__list a {
    transition: ease-in-out .2s;
}

.sponsor__list a:hover {
    transform: scale(1.009);

    filter: drop-shadow(0px 2px 12px rgba(35, 177, 35));

}




/********************************* Farmvest works ********************************/

.farmvest__cont {
    display: flex;
    gap: 96px;
}

.farmvest__title h2 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;


    color: #FFFFFF;
}

.farmvest__title span {
    color: #23B123;
}

.farmvest__desc {
    margin-bottom: 48px;
    margin-top: 32px;
}

.farmvest__desc h4 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;

    color: #FFFFFF;
}


.farmvest__item {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.farmvest__item-link {
    display: flex;
    align-items: center;
    gap: 32px;
}

.farmvest__app {
    background: rgba(0, 128, 0, 0.1);
    border-radius: 50px;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.farmvest__down-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;

    text-decoration: none;
}

.farmvest__down-title:hover {
    color: #23B123;
    transition: all .3s;
}

.farmvest__down-desc {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #FFFFFF;
    margin-top: 16px;
}



.farmvest__user-box {
    width: 750px;
    height: 936px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}

.user__box-bg {
    position: relative;

}

.box-bg1 {
    position: relative;
    left: 438px;
    top: -77px;
}

.box-bg2 {
    position: relative;
    left: 125px;
}


.user-image {
    position: relative;
    top: -400px;
    left: 48px;
}

.user-image img {
    border-radius: 22px;
    width: 660px;
    height: 604px;
}


/******************************* Path way **************************************/

.pathway {
    display: flex;
    gap: 126px;
    margin-top: 200px;
}

.pathway__user-box {
    width: 694px;
    height: 760px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
}

.pathway__user-image {
    width: 614px;
    height: 562px;

    position: relative;
    bottom: -97px;
    left: -318px;
}

.pathway__box-bg1 {
    position: relative;
    bottom: -213px;
}

.pathway__box-bg2 {
    position: relative;
    top: -260px;
}


.pathway__future-invest {
    margin-bottom: 48px;
}

.pathway__future-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;
    color: #FFFFFF;

    margin-bottom: 32px;
}

.pathway__future-title span {
    color: #23B123;
}

.pathway__future-desc {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;

    color: #FFFFFF;
}



/****** Pathway//DropArrow**********/

.pathway__farmvest-item {
    width: 600px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    cursor: pointer;
}





.pathway__farmvest-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 177%;
    color: #FFFFFF;

    padding: 24px 15px 24px 30px;
}

.drop {
    transition: all .3s;
}

.drop1 {
    position: relative;
    left: 280px;
}


.drop2 {
    position: relative;
    left: 246px;
}


.drop3 {
    position: relative;
    left: 48px;
}

.drop-rotate {
    transform: rotate(180deg);
}


.pathway__farmvest-desc {
    display: none;
    padding: 24px;

    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;

    color: #FFFFFF;
}

.pathway__farmvest-desc.active {
    display: block;
}

.margin-bottom {
    margin-bottom: 24px;
}


/********************************** About *******************************/

.about {
    display: flex;
    gap: 126px;
    margin-top: 200px;
}


.about__farmvest-cont {
    margin-bottom: 48px;
}

.about__farmvest-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;
    color: #FFFFFF;

    margin-bottom: 32px;
}

.about__farmvest-title span {
    color: #23B123;
}

.about__farmvest-desc {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;

    color: #FFFFFF;
}




.number__cont {
    display: flex;
    align-items: center;
    gap: 50px;
}

.number__item {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    padding: 17px 24px 7px 24px;

    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50px;
}

.number__list {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;


    color: #FFFFFF;
}

.margin__bottom-number {
    margin-bottom: 48px;
}

.padding-numbers {
    padding: 15px 19px 9px 19px;
}

.about__btn {
    margin-top: 70px;

}

.about__btn a {
    font-family: 'Spartan';
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 22px 55px;
    background: #23B123;
    border-radius: 10px;
    border: 1px solid #23B123;

    transition: all .3s;
}

.about__btn a:hover {
    background: transparent;
    color: #23B123;
}



/********************************** Customers *******************************/

.customers {
    margin-top: 200px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.customers__head {
    margin-bottom: 48px;
    align-items: center;
    display: flex;
    flex-direction: column
}

.customers__head-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 78px;
    color: #FFFFFF;
}

.customers__head-title span {
    color: #23B123;
}

.customers__head-desc {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;

    margin-top: 32px;
    margin-bottom: 48px;
}


.customers__user {
    margin-top: 30px;
    display: flex;
    gap: 48px;
}

.customers__user-cont {
    display: flex;
    gap: 32px;
    width: 686px;
    height: 377px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}

.customers__user-abt {
    margin: 32px 0;
}

.customers__user-desc {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;

    color: #FFFFFF;
}

.customers__user-fullname {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;

    margin-top: 153px;
}

.customers__btn {
    margin-top: 70px;
}

.customers__btn a {
    font-family: 'Spartan';
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    padding: 22px 70px;
    background: #23B123;
    border-radius: 10px;
    border: 1px solid #23B123;

    transition: all .3s;
}

.customers__btn a:hover {
    background: transparent;
    color: #23B123;
}


/******************************* Farmvest App **************************************/


.download-cont {
    margin-top: 80px;
    width: 1409px;
    height: 370px;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.download__head-title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 63px;

    color: #FFFFFF;
    width: 760px;
    z-index: 9;
}

.download__head-title span {
    color: #23B123;
}





.download__head-cont {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;

    position: relative;
    z-index: 9;
}


.download__head-link {
    cursor: pointer;
    transition: all .3s;
}

.download__head-link:hover {
    transform: scale(1.02);

}




.app__circle-bg1 {
    position: relative;
    left: 667px;
}

.app__circle-bg2 {
    position: relative;
    right: 678px;
    z-index: -1;
}


/******************************* Footer **************************************/

.footer {
    margin-top: 200px;
    height: 460px;
    background: rgba(53, 64, 70, 0.5);
    width: 100%;
}

.footer__head {
    display: flex;
    gap: 186px;
    padding: 0 150px 0 150px;
    margin-top: 68px;
    position: relative;
    top: 68px;
}

.footer__logo a:hover {

    transition: ease-in-out .3s;
    filter: drop-shadow(0px 2px 12px rgb(103, 252, 4));
}

.footer__logo h3 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;

    margin-top: 24px;
    width: 352px;
}

.footer__subscribe h3 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: #FFFFFF;
}

.subscribe-btn {
    position: relative;
    right: -15px;
}

.footer__social {
    display: flex;
    gap: 48px;
}

.footer__social_list h3 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer__social-link {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    cursor: pointer;
}

.transform_link:hover {
    transform: scale(1.09);
    transition: ease-in-out .3s;
    filter: drop-shadow(0px 2px 12px rgba(90, 223, 2, 0.829));

}

.footer__number h3 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer__number h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


.footer__privacy {
    margin-top: 100px;
    padding: 0 150px;

}

.footer__privacy-cont {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 47px;

    width: 1620px;
    border-top: 1px solid rgba(255, 255, 255, 0.42);
}

.top {
    position: relative;
    top: 58px;
}

.footer__reserved {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 13px;
    color: #FFFFFF;
}

.footer__privacy-list {
    display: flex;
    gap: 40px;
}

.footer__privacy-list a {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__privacy-list a:hover {
    color: #23B123;
    transition: all .3s;
}



/******************************* White theme ******************************* ********/

@media screen and (prefers-color-scheme: dark) {
    body {
        background: #FFFFFF;
    }

    .logo a {
        color: #263238;
    }

    .logo__bg-vector {
        filter: invert(23%) sepia(56%) saturate(7369%) hue-rotate(90deg) brightness(107%) contrast(104%);
    }



    .menu__list-link {
        color: #263238;
    }

    .header__btn-link {
        color: #263238;
        border: 1px solid #263238;
    }

    .header__btn-link:hover {
        color: #008000;
        border: 1px solid #008000;
    }

    .header__btn-start a {
        border: 1px solid #008000;
        background: #008000;
    }

    .header__btn-start a:hover {
        color: #008000;
    }



    .culture__invest-title h2 {
        color: #263238;
    }

    .culture__invest-title h2 span {
        color: #008000;
    }

    .desc {
        color: #263238;
    }

    .email__box input {
        background: rgba(38, 50, 56, 0.1);

    }

    .email__btn a {
        background: #008000;
    }


    /************ LEft and RIGht side ****/

    .left_right-side {
        filter: brightness(0);
    }



    .sponsor__list img {
        filter: brightness(0);

    }

    .farmvest__title h2 {
        color: #263238;
    }

    .farmvest__title span {
        color: #008000;
    }

    .farmvest__desc h4 {
        color: #263238;
    }

    .farmvest__down-title {
        color: #263238;
    }

    .farmvest__down-desc {
        color: #263238;
    }

    .farmvest__user-box {
        background: #E5E5E5;

    }

    .pathway__user-box {
        background: #E5E5E5;
    }

    .pathway__future-title {
        color: #263238;
    }

    .pathway__future-title span {
        color: #008000;
    }

    .pathway__future-desc {
        color: #263238;
    }

    .pathway__farmvest-title {
        color: #263238;
    }

    .pathway__farmvest-item {
        background: #E5E5E5;
    }

    .pathway__farmvest-desc {
        color: #263238;
    }

    .about__farmvest-title {
        color: #263238;
    }

    .about__farmvest-title span {
        color: #008000;
    }



    .box-color {
        background: #E5E5E5;
    }

    .title-color {
        color: #263238;
    }

    .span-color {
        color: #008000;
    }

    .about__btn a {

        background: #008000;
        border-radius: 1px solid #008000;
    }

    .about__btn a:hover {
        color: #008000;
        border-radius: 1px solid #008000;
    }

    .customers__head-title span {
        color: #008000;
    }

    .customers__btn a {
        background: #008000;
        border-radius: 1px solid #008000;
    }

    .customers__btn a:hover {
        border-radius: 1px solid #008000;
        color: #008000;
    }

    
    .download__head-title span {
        color: #008000;
    }

    .app__circle-bg1 {
        filter: invert(23%) sepia(56%) saturate(7369%) hue-rotate(90deg) brightness(107%) contrast(104%);
    }

    .app__circle-bg2 {
        z-index: 1;
        filter: invert(23%) sepia(56%) saturate(7369%) hue-rotate(90deg) brightness(107%) contrast(104%);
    }

    .footer {
        background: #FFFFFF;
    }

    .footer__logo h3 {
        color: #263238;
    }

    .footer__subscribe h3 {
        color: #263238;
    }

    .footer__social_list h3 {
        color: #263238;
    }

    .footer__number h3 {
        color: #263238;
    }

    .footer__number h2 {
        color: #263238;
    }

    .footer__social-link img {
        filter: invert(23%) sepia(56%) saturate(7369%) hue-rotate(90deg) brightness(107%) contrast(104%);
    }

    .footer__logo img {
        filter: brightness(0);
    }

    .footer__privacy-list a {
        color: #263238;
    }

    .footer__privacy-list a:hover {
        color: #008000;
    }

    .footer__privacy-cont {
        border-top: 1px solid rgba(38, 50, 56, 0.31);
    }

    .email__box-footer {
        background: #E5E5E5;
    }

}